<div class="nested-fields">
  <div class="row">
    <div class="col-10">
      <%= f.text_field :name, class: "form-control", placholder: "Add technology" %>
      <br>
    </div>
    <div class="col-2">
      <%= link_to_remove_association "Remove", f,  class: "btn btn-sm btn-danger" %>
    </div>
  </div>
</div>
