<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Rakesh Rengaraj</strong>
      </a>
      <nav class="nav d-flex justify-content-between portfolio-nav">
            <%= set_nav_links('span', 'nav-link') %>
            <%= check_login_nav('nav-link','') %>
        </nav>
    </div>
  </div>
</header>
