<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Portfolio</h3>
    <nav class="nav nav-masthead justify-content-center">
      <%= set_nav_links('span', 'nav-link') %>
      <%= check_login_nav('nav-link','') %>
    </nav>
  </div>
</header>
