<div class="card card_cont">
  <div class="card-body">
    <div class="row">
      <div class="col-6 col-xs-12">
          <%= image_tag 'profile.jpg', width: '100%' %>
      </div>
      <div class="col-6 col-xs-12">
             <h4>Contact Me </h4>   
             <div class="mb-5">
            <p><a href="mailto:rakesh.rengaraj@gmail.com?subject=PortfolioContact" class="btn btn-primary btn-block"><%= fa_icon("envelope 2x")%>
                &nbsp;&nbsp;Email</a></p>
            
            <p><a href="https://www.linkedin.com/in/rakesh-rengaraj-85709358/" class="btn btn-primary btn-block"><%= fa_icon("linkedin 2x")%>
                &nbsp;&nbsp;Linkedin</a></p>

            <p>
            <a href="https://github.com/rakeshrengaraj" class="btn btn-primary btn-block"><%= fa_icon("github 2x")%>
                &nbsp;&nbsp;Github
            </a></p>
            </div>
    </div>
  </div>
</div>
