<div class="card card_cont">
  <div class="card-body">
    <h5 class="card-title"><%= "Hi, " + current_user.first_name %></h5>
    <div class="row">
      <div class="col-12">
        <p>
          <span class='element'></span>
        </p>
      </div>
    </div>
  </div>
</div>
