<div class="card-columns technews">
  <% @tweets.each do |tweet| %>
    <div class="card">
      <div class="card-body">
        <p class="card-text"><%= twitter_parser tweet %></p>
      </div>
    </div>
  <% end %>
</div>
